.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
  
  .cart_section {
    padding: 40px;
    padding-top: 100px;
  }

  h2 {
    font-size: xx-large;
  }
  
  table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: separate;
    width: 100%;
    text-align: center;
    border: 1px solid black;
  }
  
  .header {
    font-size: large;
  }
  
  tr {
    height: max-content;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .total {
    font-style: italic;
    font-weight: 500;
  }

  .sum {
    font-weight: 600;
  }

.buttons {
  margin-top: 15px;
}
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  :host {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }