<section class="cart_section" fxFlex align="center">
  <h2>Summary</h2>
  <table class="header" align="center center">
    <tr>
      <th>Naziv</th>
      <th>Proizvođač</th>
      <th>Opis</th>
      <th>Pol</th>
      <th>Slika</th>
      <th>Količina</th>
      <th>Cena</th>
    </tr>
    <tr *ngFor="let product of productService.orderedProduct">
        <td>{{ product.naziv }}</td>
        <td>{{ product.proizvodjac }}</td>
        <td>{{ product.opis }}</td>
        <td>{{ product.pol }}</td>
        <td><img src="{{ product.slika }}" alt="{{product.id}}"></td>
        <td>
          <div class="quantity" align="center">
            <button mat-button type="button" (click)="add(product)">
                <mat-icon>add</mat-icon>
            </button>
              <span>{{ product.kolicina }}</span>
            <button mat-button type="button" (click)="subtract(product)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        </td>
        <td>
          {{ product.cena }} <p>RSD</p>
        </td>
    </tr>
    <tr>
      <td class="total">TOTAL:</td>
      <td class="sum">{{ totalSum() }} RSD</td>
    </tr>
  </table>

  <mat-form-field appearance="fill" align="center">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Adress</mat-label>
    <input matInput>
  </mat-form-field>
    <mat-form-field appearance="fill">
    <mat-label>Payment method:</mat-label>
    <mat-select>
      <mat-option value="one">Visa</mat-option>
      <mat-option value="two">Master card</mat-option>
    </mat-select>
  </mat-form-field>


<div class="buttons" fxLayout fxLayoutGap="15px" fxLayoutAlign="center">
  <button mat-raised-button color="accent" routerLink="/">Go back</button>
  <button mat-raised-button color="accent" (click)="clearAll()">Clear all</button>
  <button mat-raised-button color="warn" routerLink="/" (click)="clearAll()">Create order</button>
</div>
</section>

