<section fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="20px">
  <h3>Thank You for Registering</h3>

  <div *ngIf="authService.userData as user">
    <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
    <p>Please check your email and click on the link to verfiy your email address.</p>
  </div>

  <button (click)="authService.SendVerificationMail()" mat-raised-button color="primary">Resend Verification Mail</button>


  <span>Go back to?  <a mat-button color="primary" routerLink="/login">Login</a></span>

</section>







<!--
(click)="authService.SendVerificationMail()"
routerLink="/login"
 -->
