<section>
  <form
  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"
  #formaIdeale="ngForm" (ngSubmit)="onSubmit(formaIdeale)">

  <mat-form-field>
      <input type="email" ngModel matInput placeholder="Email" name="email" required
       email #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Please use the correct email format</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Please enter minimum 8 characters">
      <input type="password" ngModel matInput placeholder="Password" name="password"
      required minlength="8" #passInput="ngModel">
      <mat-hint align="end">{{passInput.value?.length}}/8</mat-hint>
    </mat-form-field>


    <!-- Datepicker -->


    <mat-form-field>
      <input matInput ngModel name="birthDate" required
      placeholder="Your date of birth" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Checkbox -->

    <mat-checkbox color="primary" ngModel name="acceptance" required>
      I accept the terms and conditions of use.
    </mat-checkbox>

    <button type="submit" mat-raised-button color="primary" [disabled]="formaIdeale.invalid" >Sign in</button>

  </form>
</section>
