

<app-category></app-category>
 


<!-- Footer -->
<footer class="footer" flex layout="column" align="center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <!-- Facebook -->
            <a class="fb-ic">
              <mat-icon>facebook</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright
    </div>
  </footer>
