form {
    height: 100%;
    overflow-y: scroll;
    padding-top: 22%;
}

form > div {
    width: 85%;
}

@media screen and (max-width: 960px) {
    form {
        height: 100%;
        overflow-y: scroll;
        padding-top: 160%;
    }
}