.spaceing {
    height:100%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 64.3px;
}

mat-table {
    width: 100%;
}

span, button, mat-cell {
    font-size: 1.2vw;
    text-align: center;
}

@media screen and (max-width: 599px) {
    span, button, mat-cell {
        font-size: 2.4vw;
        text-align: center;
    }
}