<div fxFlex fxLayout="column">
    <div fxFlex fxLayoutAlign="space-around center" id="search-cart-div">
      
        <mat-form-field color='accent'>
            <input type="text" ngModel matInput placeholder="Search" name="search"
            search #searchInput="ngModel" (keyup) = "search(searchInput)">
        </mat-form-field>

        <mat-icon matBadge="{{cartNumber}}" *ngIf="username != null" matBadgeColor="accent" id="cartIcon" class="material-icons-outlined" fxLayoutAlign="center center" routerLink="/cart">
            shopping_cart
        </mat-icon>
    </div>

    <!-- <div fxLayoutAlign="center center" id="pagination">
        <jw-pagination color="accent" [items]="data" (changePage)="onChangePage($event)" fxLayoutAlign="center center"></jw-pagination>
    </div> -->

    <div fxFlex fxLayout="row">
        <div class="sideFilter">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" >
                <mat-form-field appearance="fill" id="sort">
                    <mat-label>Sort By</mat-label>
                    <mat-select (selectionChange)="onSortChange($event)">
                        <mat-option value="name-asc">Name ASC</mat-option>
                        <mat-option value="name-dsc">Name DESC</mat-option>
                        <mat-option value="price-asc">Price ASC</mat-option>
                        <mat-option value="price-dsc">Price DESC</mat-option>
                        <mat-option value="date-asc">Date ASC</mat-option>
                        <mat-option value="date-dsc">Date DESC</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="check">
                    <h4>Price: {{value}} €</h4>
                    <mat-slider color="accent" (change)="onPriceChange($event)"
                            thumbLabel
                            step="0.1"
                            min="0"
                            max="50"
                            [(ngModel)]="value"
                            aria-label="units"
                            value>
                    </mat-slider>
                </div>

                <div class="check">
                    <h4>Categories:</h4>
                    <mat-radio-group
                        class="radio-group"
                        [(ngModel)]="categories"
                        (change)="onCategoryChange($event)">
                        <p><mat-radio-button value="all" name="all">All Categories</mat-radio-button></p>
                        <p><mat-radio-button value="chocolate" name="chocolate">Chocolate</mat-radio-button></p>
                        <p><mat-radio-button value="jelly" name="jelly">Jelly</mat-radio-button></p>
                        <p><mat-radio-button value="gummy" name="gummy">Gummy</mat-radio-button></p>
                        <p><mat-radio-button value="gum" name="gum">Gum</mat-radio-button></p>
                        <p><mat-radio-button value="marshmallow" name="marshmallow">Marshmallow</mat-radio-button></p>
                    </mat-radio-group>
                </div>

                <div class="check">
                    <h4>Ratings:</h4>
                    <mat-radio-group
                        class="radio-group"
                        [(ngModel)]="rating"
                        (change)="onRatingChange($event)">
                        <p><mat-radio-button value="all" name="all">All Ratings</mat-radio-button></p>
                        <p><mat-radio-button value="1" name="1">1</mat-radio-button></p>
                        <p><mat-radio-button value="2" name="2">2</mat-radio-button></p>
                        <p><mat-radio-button value="3" name="3">3</mat-radio-button></p>
                        <p><mat-radio-button value="4" name="4">4</mat-radio-button></p>
                        <p><mat-radio-button value="5" name="5">5</mat-radio-button></p>
                    </mat-radio-group>
                </div>
            
            </div>
        </div>

        <div class="main" fxFlex fxLayout="column" fxLayoutAlign="center center"  >
            <section fxFlex fxLayout="row wrap" fxLayoutAlign="space-around center" id="main_section" >
                <mat-card fxFlex="400px" *ngFor="let candy of data | paginate: {itemsPerPage:10,currentPage:p}">
                    <img mat-card-image src="{{candy.image}}" alt="Photo" width="200px" height="400px">

                    <mat-card-title fxLayoutAlign="center">
                        {{candy.name}}
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center">
                    <h3>Price: {{candy.price}} €</h3>
                    </mat-card-content>

                    <mat-card-actions fxLayoutAlign="center">
                        <button mat-raised-button color="accent" (click)="showOneCandy(candy.id)">Details</button>
                    </mat-card-actions>
                </mat-card>
            </section>
        </div>
    </div>
    <div fxLayoutAlign="center center" id="pagination">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
