<div fxLayoutAlign="space-between">
    <button mat-button [mat-dialog-close]="true">
        <mat-icon matListIcon>close</mat-icon>
    </button>

    <!-- 
        dugme za izmenu / prikazuje se samo u slucaju
        ukoliko je korisnik pravilno / ispravno prijavljen
     -->

     <button mat-icon-button>
        <mat-icon 
            matListIcon
            *ngIf="this.profileInput.id == this.User.currentUser.id"
            (click)="this.isEditing = !this.isEditing"
            >edit
        </mat-icon>
     </button>
</div>



<!-- 
    dijalog za smestanje kontrola za izmenu 

 -->

<mat-dialog-content>
    <form 
        fxLayout="column" 
        fxLayoutGap="3vh" 
        #editForm="ngForm" 
        (ngSubmit)="finishEditing(editForm)">
        
        <!-- Email -->
        <mat-card>
            <div 
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayout="2vw">

                <mat-icon>email</mat-icon>
                <div fxLayout="column" *ngIf="!this.isEditing"> <!-- Proveriti -->
                    <mat-card-subtitle>User email</mat-card-subtitle>
                    <span>{{ this.profileInput.email }}</span>
                </div>

                <mat-form-field *ngIf="this.isEditing">
                    <input 
                        matInput
                        ngModel
                        #emailInput="ngModel"
                        email
                        name="email"
                        type="email"
                        placeholder="enter your email"
                        [(ngModel)]="this.profileInput.email"
                        required
                    >
                    <!-- kraj inputa -->
                    <mat-error 
                        *ngIf="emailInput.hasError('required')">
                        Email is required
                    </mat-error>

                    <mat-error 
                        *ngIf="!emailInput.hasError('required')">
                        Incorrect format
                    </mat-error>
                </mat-form-field>    
            </div>
        </mat-card>

        <!-- Password -->
        <mat-card *ngIf="this.isEditing">
            <div 
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="2vw"
            >
            <!-- kraj div-a -->

                <mat-icon>lock</mat-icon>

                <mat-form-field hintLabel="8 characters min">
                    <input 
                        matInput
                        ngModel
                        #passwordInput="ngModel"
                        password
                        name="password"
                        type="password"
                        placeholder="enter your password"
                        [(ngModel)]="this.profileInput.password"
                        required
                    >
                    <!-- kraj inputa -->
                    <mat-hint> {{ passwordInput.value?.length }} / 8</mat-hint>
                </mat-form-field>
            </div>
        </mat-card>


        <!-- Address -->
        <mat-card>
            <div 
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="2vw"
            >
            <!-- kraj div-a -->

                <mat-icon>location_on</mat-icon>
                <div fxLayout="column" *ngIf="this.isEditing"> <!-- Proveriti -->
                    <mat-card-subtitle>Address</mat-card-subtitle>
                        <span>{{ this.profileInput.address }}</span>

                        <mat-form-field *ngIf="this.isEditing">
                            <input 
                                matInput
                                ngModel
                                #addressInput="ngModel"
                                name="address"
                                type="text"
                                placeholder="your address"
                                [(ngModel)]="this.profileInput.address"
                                required
                            >
                            <!-- kraj inputa -->
                            <mat-error 
                                *ngIf="addressInput.hasError('required')">
                                enter your address 
                            </mat-error>
                        </mat-form-field>
                </div> <!-- kraj this.isEditing -->
            </div> <!-- kraj row klase -->
        </mat-card>

        <!-- Save / button -->
        <button 
            type="submit"
            color="danger"
            mat-raised-button
            *ngIf="this.isEditing"
        >Save
        </button>

    </form>
</mat-dialog-content>