<div class="wrapper" fxFlex>
    <mat-card *ngFor="let product of filteredProduct" class="card">
        <mat-card-header>
            <mat-card-title>
                {{ product.naziv }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ product.proizvodjac }}
            </mat-card-subtitle>
            <img mat-card-image src="{{ product.slika }}">
        </mat-card-header>
        <mat-card-content align="center" class="price">
            {{ product.cena }} <span>RSD</span>
        </mat-card-content>
        <div class="quantity" align="center">
            <button mat-button type="button" (click)="add(product)">
                <mat-icon>add</mat-icon>
            </button>
              <span>{{ product.kolicina }}</span>
            <button mat-button type="button" (click)="subtract(product)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
            <mat-card-footer class="footer">
                <mat-card-actions>
                    <button mat-raised-button class="addToCart" (click)="addToCart(product)" color="warn">
                        Add to cart
                    </button>
                </mat-card-actions>
            </mat-card-footer>
    </mat-card>
</div>
