.card {
    position: relative;
    height: 300px;
    padding: 10px;
    margin: 5px;
}

mat-card img {
    height: 120px;
    width: 120px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
}

.price {
    margin-bottom: 0%;
}

.quantity {
    align-items: center;
}

.addToCart {
    margin-left: 15px;
}

.footer {
    
    margin-left: 40%;
    margin-bottom: -15px;
}