<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
    #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" ngModel matInput placeholder="Email" name="email" required email #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Please use the correct email format</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Please enter minimum 8 characters.">
            <input type="password" [type]="show ? 'password' : 'text'" ngModel matInput placeholder="Password" name="password"
            required minlength="8" #userInput="ngModel">
            <mat-hint align="end"> {{ userInput.value?.length }} / 8 </mat-hint>
        </mat-form-field>
        
        <mat-hint>
            <button mat-icon-button (click)="password()">{{show ? 'Show' : 'Hide'}}>
                <mat-icon>visibility</mat-icon>
            </button>
        </mat-hint>

        <button type="submit" mat-raised-button color="warn" [disabled]="f.invalid">Submit</button>
        <mat-label *ngIf="errorExists">{{ errorText }}</mat-label>
            <a routerLink="/signup">I do not have an account</a>
    </form>
</section>
