@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


a {
    text-decoration: none;
    color: white;
}

#footer{
    min-height: 20vh;
    background-color: #e04a78;
    width: 100%;
    color: white;
}

h2{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

#logo{
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 80px;
}