<mat-drawer-container fxFill class="mat-card" autosize>
    <mat-drawer #drawer mode="over">
        <span style="margin-left: 2px;">Сакри бочни мени за навигацију</span>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <mat-accordion *ngIf="filteredItems != null">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по цени</mat-panel-description>
            </mat-expansion-panel-header>
            <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [(options)]="priceSliderOptions" (userChangeEnd)="applyFilters()"></ngx-slider>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по количини</mat-panel-description>
            </mat-expansion-panel-header>
            <span>Најмања количина на стању: <input type="number" [(ngModel)]="minInStock" name="minInStock" (keyup)="applyFilters()"/></span>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="voltages != null">
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по напону</mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngFor="let voltage of voltages | keyvalue">
              <mat-checkbox [(ngModel)]="voltage.value" (change)="updateVoltages(voltage.key, $event)">{{voltage.key}}</mat-checkbox>
            </span>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="amperages != null">
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по јачини струје пуњења</mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngFor="let amperage of amperages | keyvalue : orderByNumber">
              <mat-checkbox [(ngModel)]="amperage.value" (change)="updateAmperages(amperage.key, $event)">{{amperage.key}}</mat-checkbox>
            </span>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="wattages != null">
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по излазној снази</mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngFor="let wattage of wattages | keyvalue : orderByNumber">
              <mat-checkbox [(ngModel)]="wattage.value" (change)="updateWattages(wattage.key, $event)">{{wattage.key}}</mat-checkbox>
            </span>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="amperhours != null">
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по капацитету</mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngFor="let amperhour of amperhours | keyvalue : orderByNumber">
              <mat-checkbox [(ngModel)]="amperhour.value" (change)="updateAmperhours(amperhour.key, $event)">{{amperhour.key}}</mat-checkbox>
            </span>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="selectedCategory === 'Електрична возила'">
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по домету</mat-panel-description>
            </mat-expansion-panel-header>
            <ngx-slider [(value)]="minDrivingRange" [(highValue)]="maxDrivingRange" [(options)]="priceSliderOptionsDrivingRange" (userChangeEnd)="applyFilters()"></ngx-slider>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>Филтрирај по оцени</mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2%">
              <button mat-icon-button (mouseover)="updateRating(0)" (click)="applyFilters()" id="shopRating_0"><mat-icon>not_interested</mat-icon></button>
              <button mat-icon-button *ngFor="let dummy of [].constructor(5); let i = index" (mouseover)="updateRating(i + 1)" (click)="applyFilters()"><mat-icon id="{{'shopRating_' + (i + 1)}}">star_outline</mat-icon></button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>

        <mat-tree [dataSource]="categoriesSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let category" matTreeNodePadding>
              <button type="button" mat-flat-button (click)="displayItems(this.category.name)" [color]="this.category.name === selectedCategory ? 'primary' : none">{{category.name}}</button>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>
    </mat-drawer>

    <mat-drawer-content>
        <button type="button" mat-icon-button class="floating" (click)="drawer.toggle()" *ngIf="!drawer.opened">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-grid-list [cols]="numberOfColumns" (window:resize)="onResize($event)" [rowHeight]="rowHeight" style="min-width: 350px;">
            <mat-grid-tile *ngFor="let item of filteredItems" fxFlex>
              <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex>
                <mat-card-header fxLayoutAlign="center center" fxFlex>
                  <mat-card-title>{{item.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="item.imageUrl | async" alt="Photo of {{item.title}}"/>
                <mat-card-content fxLayoutAlign="center center" fxFlex>{{item.description}}</mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxFlexFill fxLayoutGap="1%">
                  <span fxFlex="30" *ngIf="item.leftInStock > 0">Количина: <input type="number" min="0" [max]="item.leftInStock.toString()" matInput [(ngModel)]="item.orderedQuantity" required/></span>
                  <span fxFlex="50">Цена по комаду: {{ item.price?.toLocaleString("sr-RS", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} динара</span>
                  <span fxFlex="50" *ngIf="item.leftInStock === 0">Нема на стању</span>
                  <button fxFlex="10" type="button" mat-icon-button color="accent" (click)="buyProduct(item)" *ngIf="item.leftInStock > 0"><mat-icon>add_shopping_cart</mat-icon></button>
                  <button fxFlex="10" type="button" mat-icon-button color="secondary" (click)="showReviews(item.id)"><mat-icon>comment</mat-icon></button>
                </mat-card-actions>
              </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>
<notifier-container></notifier-container>