@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(128, 126, 126);
}

mat-drawer-container {
    height: 100%;
    width: 280px;
}

mat-sidenav-content, mat-sidenav-container, mat-sidenav {
    height: 100%;
    
}

mat-sidenav {
    width: 280px;
}

mat-expansion-panel-header {
    display: block;
    margin: 0px;
    padding: 0px;
}